@font-face {
  font-family: "Montserrat";
  src: url(../font/Montserrat-Bold.ttf) format("truetype");
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
}
@font-face {
  font-family: "RobotoFlex";
  src: url(../font/RobotoFlex.ttf) format("truetype");
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0, "wdth" 100, "GRAD" 0, "XOPQ" 96, "XTRA" 468, "YOPQ" 79, "YTAS" 750, "YTDE" -203, "YTFI" 738, "YTLC" 514, "YTUC" 712;
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "RobotoFlex", sans-serif;
  line-height: 100%;
  font-weight: 400;
  font-variation-settings: "wght" 400, "wdth" 120;
}

.bodyStopScroll {
  overflow: hidden;
  height: 100vh;
}

button {
  outline: none;
  border: none;
  padding: 0;
  font-family: "RobotoFlex", sans-serif;
  transition: 0.3s all;
}
button:hover {
  cursor: pointer;
}

input, textarea, select, button {
  border: none;
  outline: none;
  font-family: "RobotoFlex", sans-serif;
  transition: 0.3s all;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  transition: 0.3s all;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1480px;
  padding: 0 20px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none !important;
}

.justify-start {
  justify-content: start;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: end;
}

.align-start {
  align-items: start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.text-center {
  text-align: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.show {
  display: flex !important;
}

.w-full {
  width: 100%;
}

.m-0 {
  margin: 0 !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.select {
  width: 100%;
  position: relative;
  white-space: nowrap;
  font-size: 13px;
  line-height: 13px;
  font-weight: 600;
}
.select-head {
  width: 100%;
  height: 52px;
  border-radius: 50px;
  background: rgba(193, 80, 139, 0.1019607843);
  padding: 11px 20px;
  color: #4D4D4D;
  cursor: pointer;
}
.select-head img {
  margin-right: 5px;
}
.select .options {
  position: absolute;
  top: 110%;
  right: 0;
  width: 100%;
  background: #fff;
  color: #4D4D4D;
  border-radius: 12px;
  overflow: hidden;
  z-index: 5;
  display: none;
  padding: 12px 0;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.09);
}
.select .options .option {
  padding: 10px 22px;
  text-align-last: left;
  border-bottom: 1px solid #F5F5F5;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.select .options .option img {
  margin-right: 5px;
}
.select .options .option:hover {
  color: #9c3138;
  border-color: #9c3138;
}

.check-box {
  display: flex;
  align-items: start;
}
.check-box input {
  appearance: none;
  min-width: 16px;
  height: 16px;
  background-image: url(../img/svg/no-check.svg);
  margin-right: 12px;
  cursor: pointer;
  margin-top: 5px;
}
.check-box label {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #838383;
  cursor: pointer;
}
.check-box a {
  text-decoration: underline;
}
.check-box a:hover {
  color: #5ab049;
}
.check-box input:checked {
  background-image: url(../img/svg/checked.svg);
}

.input-box {
  width: 100%;
  margin-bottom: 24px;
  position: relative;
}
.input-box input {
  width: 100%;
  height: 56px;
  border-radius: 10px;
  border: 1px solid #CCC6B7;
  background: #f5f4f1;
  padding: 0 16px;
  font-size: 16px;
  color: #534f43;
}
.input-box input:focus {
  border-color: #908A7D;
}
.input-box small {
  position: absolute;
  bottom: -20px;
  left: 0;
  font-size: 12px;
  line-height: 24px;
  color: #dc0e63;
  display: none;
}
.input-box .error {
  display: block;
}
.input-box .success {
  display: none;
}

.showSelect .select-head svg {
  transform: rotate(180deg);
}
.showSelect .options {
  display: block;
}

.page-title {
  font-size: 60px;
  line-height: 100%;
  font-weight: 400;
  color: #000;
  font-variation-settings: "wght" 400, "wdth" 120;
}
.page-title br {
  display: none;
}

.title-text {
  font-size: 45px;
  line-height: 100%;
  font-weight: 400;
  color: #424247;
  position: relative;
  padding-left: 56px;
  font-variation-settings: "wght" 400, "wdth" 120;
}
.title-text::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 6px;
  height: 32px;
  background: #e87537;
}

.swiper-box {
  position: relative;
}

.swiper-btns .prev, .swiper-btns .next {
  width: 30px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  cursor: pointer;
}
.swiper-btns .prev:hover svg path, .swiper-btns .next:hover svg path {
  stroke: #e87537;
}
.swiper-btns .prev {
  left: -60px;
}
.swiper-btns .next {
  right: -60px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 65px;
  position: relative;
  bottom: 0 !important;
}

.swiper-pagination-bullet {
  width: 16px;
  height: 17px;
  background: #d9d9d9;
  border: 3px solid #fff;
  opacity: 1;
  transition: 0.3s all;
}

.swiper-pagination-bullet-active {
  background: #fff;
  border-color: #E87537;
}

.view-all {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  line-height: 100%;
  font-weight: 400;
  font-variation-settings: "wght" 371, "wdth" 120;
}
.view-all span {
  display: inline-block;
  color: #039be5;
  margin-right: 16px;
}

.btn {
  width: 290px;
  height: 70px;
  border-radius: 8px;
  background: #4ba3ef;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  font-variation-settings: "wght" 400, "wdth" 120;
  transition: 0.3s linear;
}
.btn:hover {
  background: #E87537;
}

.logo {
  font-family: "Montserrat", sans-serif;
  font-size: 39.48px;
  line-height: 100%;
  font-weight: 500;
  font-variation-settings: "wght" 500, "wdth" 120;
  color: #282f35;
}
.logo span {
  color: #e87537;
}

.header {
  background: #fff;
  border-bottom: 1px solid #C9CED5;
}
.header .container {
  padding: 29px 20px 30px;
}
.header-nav {
  display: flex;
  transform: translateX(10%);
}
.header-nav li {
  font-size: 20px;
  line-height: 100%;
  font-weight: 400;
  color: #3a3f41;
  margin-right: 30px;
  transition: 0.3s all;
  font-variation-settings: "wght" 371, "wdth" 120;
}
.header-nav li:hover {
  color: #E87537;
}
.header-nav li:last-child {
  margin-right: 0;
}
.header-links a {
  display: block;
  margin-right: 16px;
}
.header-links a:last-child {
  margin-right: 0;
}
.header-links a svg {
  transition: 0.3s all;
}
.header-links a:hover svg path {
  fill: #E87537;
}
.header-links .phone-num {
  font-size: 22px;
  line-height: 100%;
  font-weight: 400;
  color: #37393c;
  margin-right: 0;
  transition: 0.3s all;
}
.header-links .phone-num:hover {
  color: #E87537;
}
.header-links .phone-num.icon {
  display: none;
}
.header .menu-btn {
  display: none;
  position: relative;
  z-index: 999;
}
.header .menu-btn svg:last-child {
  display: none;
}
.header .clicked svg:first-child {
  display: none;
}
.header .clicked svg:last-child {
  display: block;
}
.header .menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: flex;
  justify-content: end;
}
.header .menu-content {
  width: 390px;
  height: 100vh;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 91px 55px 78px;
  animation: animMenu 0.3s linear;
}
.header .menu-nav {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.header .menu-nav li {
  font-size: 22px;
  line-height: 100%;
  font-weight: 400;
  font-variation-settings: "wght" 371, "wdth" 120;
  color: #3A3F41;
  margin-bottom: 30px;
  transition: 0.3s all;
}
.header .menu-nav li:hover {
  color: #E87537;
}
.header .menu-nav li:last-child {
  margin-right: 0;
}
@keyframes animMenu {
  from {
    margin-right: -400px;
  }
  to {
    margin-right: 0;
  }
}
.header .showMenu {
  top: 100%;
}

.main .block1 {
  padding: 96px 0 0;
  position: relative;
}
.main .block1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background: #f3f3f3;
}
.main .block1 .container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  position: relative;
  z-index: 3;
}
.main .block1 .page-title {
  color: #424247;
}
.main .block1 .title-subtext {
  font-size: 36px;
  line-height: 100%;
  font-weight: 400;
  color: #4BA3EF;
  margin: 24.5px 0 113.5px;
}
.main .block1-img {
  width: 100%;
  height: 553px;
  border-radius: 20px;
  object-fit: cover;
  object-position: center;
}
.main .block1-img:last-child {
  display: none;
}
.main .block2 {
  margin: 130px 0;
}
.main .block2 .title-text br {
  display: none;
}
.main .block2 .swiper-block2 {
  margin-top: 37px;
}
.main .block2 .swiper-btns .prev, .main .block2 .swiper-btns .next {
  top: 38%;
}
.main .block2-item .item-photo {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}
.main .block2-item .item-photo a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
}
.main .block2-item .item-photo img {
  width: 100%;
  height: 438px;
  object-fit: cover;
  object-position: center;
}
.main .block2-item .item-title {
  display: flex;
  align-items: center;
  margin: 34px 0 18px;
  font-size: 30px;
  line-height: 100%;
  font-weight: 400;
  color: #202023;
  transition: 0.3s all;
}
.main .block2-item .item-title:hover {
  color: #E87537;
}
.main .block2-item .item-title img {
  margin-left: 20px;
}
.main .block2-item .item-info li {
  font-size: 20px;
  line-height: 100%;
  font-weight: 400;
  color: #75757b;
  margin-bottom: 6px;
}
.main .block2-item .item-info li:last-child {
  margin-bottom: 0;
}
.main .block3 {
  padding: 64px 0 75px;
  background: #ebedf0;
}
.main .block3 .title-text br {
  display: none;
}
.main .block3-box {
  margin-top: 49px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 16px;
}
.main .block3-item {
  width: 100%;
  background: #fff;
  border-radius: 16px;
  padding: 38px 40px 41px 40px;
}
.main .block3-item .item-title {
  font-size: 24px;
  line-height: 100%;
  font-weight: 500;
  font-variation-settings: "wght" 500, "wdth" 120;
  color: #2d2d33;
}
.main .block3-item .item-title br {
  display: none;
}
.main .block3-item .item-title span {
  color: #9a9b9f;
}
.main .block3-item .item-info {
  margin-top: 56px;
  display: flex;
}
.main .block3-item .item-info .info {
  margin-right: 60px;
}
.main .block3-item .item-info .info:last-child {
  margin-right: 0;
}
.main .block3-item .item-info .info-title {
  font-size: 40px;
  line-height: 130%;
  font-weight: 400;
  font-variation-settings: "wght" 400, "wdth" 120;
  color: #e87537;
}
.main .block3-item .item-info .info-subtitle {
  font-size: 18px;
  line-height: 130%;
  font-weight: 400;
  font-variation-settings: "wght" 400, "wdth" 120;
  color: #7C7C7C;
}
.main .block4 {
  padding: 171px 0 65px;
}
.main .block4 .title-text br {
  display: none;
}
.main .block4-box {
  margin: 45px 0 63px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.main .block4-item {
  padding: 37px 36px 41px;
  border-radius: 20px;
  border: 1px solid #BFC3C6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 359px;
}
.main .block4-item .item-num {
  min-width: 62px;
  height: 62px;
  border-radius: 50%;
  background: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-weight: 400;
  color: #757681;
  margin-right: 58px;
}
.main .block4-item .arrow {
  width: 60%;
}
.main .block4-item .item-title {
  font-size: 22px;
  line-height: 130%;
  font-weight: 400;
  font-variation-settings: "wght" 400, "wdth" 120;
  color: #424247;
  margin: 43px 0 55px;
}
.main .block4-item .item-info {
  font-size: 26px;
  line-height: 130%;
  font-weight: 400;
  color: #E87537;
}
.main .block5 {
  margin: 67px 0 115px;
  padding-top: 68px;
  position: relative;
}
.main .block5::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  transition: 0.3s all;
  transform: translateX(-50%);
  width: 1px;
  height: 68px;
  background: #e87537;
}
.main .block5 .swiper-box {
  position: relative;
  margin: 46px 0 67px;
}
.main .block5 .pagination {
  margin: 0;
}
.main .block5-item {
  min-height: 433px;
  border-radius: 20px;
  border: 1px solid #BFC3C6;
  padding: 36px 36px 65px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.main .block5-item .item-title {
  font-size: 26px;
  line-height: 100%;
  font-weight: 500;
  font-variation-settings: "wght" 500, "wdth" 120;
  color: #424247;
}
.main .block5-item .item-text {
  font-size: 20px;
  line-height: 100%;
  color: #7e7e7e;
  font-weight: 350;
  font-variation-settings: "wght" 350, "wdth" 120;
  margin-top: 30px;
}
.main .wrapper {
  position: relative;
}
.main .wrapper .container {
  height: 440px;
  display: flex;
  align-items: center;
}
.main .wrapper-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main .wrapper-bg:last-child {
  display: none;
}
.main .wrapper .page-title {
  color: #fff;
  position: relative;
  z-index: 3;
}
.main .wrapper_about .page-title {
  color: #000;
}
.main .block6 {
  margin: 62px 0 171px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .block6-title {
  font-size: 46px;
  line-height: 100%;
  font-weight: 400;
  font-variation-settings: "wght" 400, "wdth" 120;
  color: #000000;
  position: relative;
}
.main .block6-title::after {
  content: "";
  position: absolute;
  top: 130%;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 1px;
  background: #e87537;
}
.main .block6-title br {
  display: none;
}
.main .block6-link {
  margin: 94px 0 45px;
}
.main .block6-link a {
  display: flex;
  font-size: 22px;
  line-height: 100%;
  font-weight: 500;
  font-variation-settings: "wght" 500, "wdth" 120;
  color: #424247;
  margin-bottom: 4px;
  transition: 0.3s all;
}
.main .block6-link a:hover {
  color: #e87537;
}
.main .block6-info p {
  font-size: 22px;
  line-height: 130%;
  font-weight: 500;
  font-variation-settings: "wght" 500, "wdth" 120;
  font-weight: normal;
  color: #989898;
}
.main .block6-info p br {
  display: none;
}
.main .block6_about .container {
  min-height: 60vh;
}
.main .screens {
  position: relative;
  padding: 59px 0 150px;
}
.main .screens::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 25%;
  background-image: linear-gradient(to bottom, #ebedf0, #f0f1f4, #f5f6f7, #fafafb, #ffffff);
}
.main .screens .container {
  position: relative;
  z-index: 3;
}
.main .screens .filter {
  margin: 25px 0 59px;
  position: relative;
  display: inline-block;
}
.main .screens .filter-btn {
  width: 165px;
  height: 46px;
  border-radius: 8px;
  background: #FBFBFB;
  border: 1px solid #EDEDED;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 300;
  font-variation-settings: "wght" 371;
  color: #424247;
  cursor: pointer;
}
.main .screens .filter-btn img {
  margin-right: 10px;
}
.main .screens .filter-options {
  position: absolute;
  top: 105%;
  left: 0;
  width: 200px;
  border-radius: 8px;
  background: #FBFBFB;
  border: 1px solid #EDEDED;
  z-index: 99;
  display: none;
}
.main .screens .filter-options li {
  padding: 20px 15px;
  font-size: 20px;
  font-weight: 300;
  color: #424247;
  transition: 0.3s all;
  cursor: pointer;
  border-bottom: 1px solid #EDEDED;
}
.main .screens .filter-options li:hover {
  color: #E87537;
}
.main .screens .filter-options .active {
  color: #E87537;
}
.main .screens .showFilter .filter-options {
  display: block;
}
.main .screens-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 60px;
}
.main .screens-item .item-photo {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}
.main .screens-item .item-photo a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
}
.main .screens-item .item-photo img {
  width: 100%;
  height: 438px;
  object-fit: cover;
  object-position: center;
}
.main .screens-item .item-title {
  display: flex;
  align-items: center;
  margin: 34px 0 18px;
  font-size: 30px;
  line-height: 100%;
  font-weight: 400;
  color: #202023;
  transition: 0.3s all;
}
.main .screens-item .item-title:hover {
  color: #E87537;
}
.main .screens-item .item-title img {
  margin-left: 20px;
}
.main .screens-item .item-list li {
  font-size: 20px;
  line-height: 100%;
  font-weight: 400;
  color: #75757b;
  margin-bottom: 6px;
}
.main .screens-item .item-list li:last-child {
  margin-bottom: 0;
}
.main .block7 {
  position: relative;
  padding: 59px 0 137px;
}
.main .block7::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-image: linear-gradient(to bottom, #ebedf0, #f0f1f4, #f5f6f7, #fafafb, #ffffff);
}
.main .block7 .container {
  position: relative;
  z-index: 3;
}
.main .block7 .pagination {
  display: none;
}
.main .block7-img {
  width: 100%;
  height: 657px;
  border-radius: 20px;
  object-fit: cover;
}
.main .block7 .swiper-box {
  position: relative;
  padding: 0 120px;
  margin-top: 65px;
}
.main .block7 .swiper-btns .prev {
  left: 0;
}
.main .block7 .swiper-btns .next {
  right: 0;
}
.main .block8 {
  margin-bottom: 30px;
}
.main .block8 .container {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.main .block8 .title-text {
  font-size: 40px;
  padding: 0;
  margin: 0;
}
.main .block8 .title-text::before {
  display: none;
}
.main .block8-box {
  width: 70%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main .block8-item {
  width: 360px;
  margin-bottom: 60px;
}
.main .block8-item .item-title {
  font-size: 22px;
  line-height: 100%;
  font-weight: 500;
  font-variation-settings: "wght" 500, "wdth" 120;
  color: #e87537;
}
.main .block8-item .item-text {
  font-size: 20px;
  line-height: 130%;
  font-weight: 350;
  font-variation-settings: "wght" 350;
  color: #2a2b34;
  margin-top: 12px;
}
.main .block9-box {
  border-radius: 20px;
  background: #ebedf0;
  padding: 60px 0;
}
.main .block9 .title-text {
  font-size: 40px;
  color: #424247;
  padding-left: 61px;
}
.main .block9-list {
  padding-left: 61px;
  display: flex;
}
.main .block9-list li {
  margin-top: 45px;
  font-size: 22px;
  font-weight: 400;
  font-variation-settings: "wght" 400;
  line-height: 100%;
  color: #75757b;
  display: flex;
  flex-direction: column;
  margin-right: 116px;
}
.main .block9-list li:last-child {
  margin-right: 0;
}
.main .block9-list li strong {
  font-size: 26px;
  color: #37393c;
  display: block;
  margin-top: 5px;
  font-weight: 400;
  font-variation-settings: "wght" 400;
}
.main .block10 {
  margin: 100px 0 110px;
}
.main .block10 .title-text {
  font-size: 40px;
  color: #000;
  padding: 0;
}
.main .block10 .title-text::before {
  display: none;
}
.main .block10-info {
  margin-top: 47px;
  font-size: 20px;
  line-height: 130%;
  font-weight: 350;
  font-variation-settings: "wght" 350;
  color: #2a2b34;
}
.main .block10-info .info-list {
  list-style-type: decimal;
  padding-left: 25px;
}
.main .block10-info .info-list li {
  margin-bottom: 25px;
}
.main .block10-info .info-list li:last-child {
  margin-bottom: 0;
}
.main .block11 {
  position: relative;
  padding: 73px 0 108px;
}
.main .block11::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background-image: linear-gradient(to bottom, #ebedf0, #f0f1f4, #f5f6f7, #fafafb, #ffffff);
}
.main .block11 .container {
  position: relative;
  z-index: 3;
}
.main .block11 .page-title {
  width: 75%;
}
.main .block11 .discuss-btn {
  width: 290px;
  height: 70px;
  font-size: 22px;
}
.main .block11-videos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 78px;
}
.main .block11-videos .video {
  position: relative;
  border-radius: 20px;
  height: 436px;
  overflow: hidden;
  width: 38%;
  background: #bdbdbd;
}
.main .block11-videos .video:last-child {
  width: 59%;
}
.main .block11-videos .video-poster {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: 2;
}
.main .block11-videos .video .play-btn {
  width: 108px;
  height: 108px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  transition: 0.3s all;
}
.main .block11-videos .video .play-btn:hover {
  background: #E87537;
}
.main .block11-videos .video .play-btn:hover svg path {
  fill: #fff;
}
.main .block11-videos .video video {
  width: 100%;
  height: 100%;
}
.main .block11-videos .startVideo .video-poster {
  display: none;
}
.main .block11-videos .startVideo .play-btn {
  display: none;
}

.footer {
  padding: 42px 0 160px;
  background: #ebedf0;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.footer .logo {
  font-size: 32.25px;
}
.footer-nav {
  margin-top: 13px;
}
.footer-nav li {
  font-size: 20px;
  line-height: 100%;
  font-weight: 350;
  font-variation-settings: "wght" 350, "wdth" 120;
  color: #424247;
  margin-bottom: 12px;
  transition: 0.3s linear;
}
.footer-nav li:last-child {
  margin-bottom: 0;
}
.footer-nav li:hover {
  color: #E87537;
}
.footer-info {
  display: flex;
  align-items: end;
  justify-content: center;
  flex-direction: column;
  margin-top: 6px;
}
.footer-info .email-link {
  font-size: 20px;
  line-height: 100%;
  font-weight: 500;
  font-variation-settings: "wght" 500, "wdth" 120;
  color: #424247;
  margin-top: 16px;
}
.footer-info .email-link:hover {
  color: #E87537;
}
.footer-info .footer-links a {
  display: inline-block;
  margin-right: 16px;
}
.footer-info .footer-links a:nth-child(3) {
  margin-right: 0;
}
.footer-info .footer-links a:last-child {
  margin-right: 0;
}
.footer-info .footer-links a svg {
  transition: 0.3s all;
}
.footer-info .footer-links a:hover svg path {
  fill: #E87537;
}
.footer-info .footer-links .phone-num {
  font-size: 22px;
  font-weight: 400;
  line-height: 100%;
  color: #37393c;
}
.footer-info .footer-links .phone-num:hover {
  color: #E87537;
}
.footer-info .footer-links .phone-num.icon {
  display: none;
}

.popUp {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  overflow-y: scroll;
}
.popUp-close {
  position: absolute;
  top: 24px;
  right: 32px;
  background: transparent;
  cursor: pointer;
}
.popUp-content {
  width: 600px;
  border-radius: 20px;
  background: #fff;
  padding: 64px 32px 24px 32px;
  position: relative;
  animation: popUp-anim 0.3s linear;
  margin: 50px auto;
}
.popUp .popUp-title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 500;
  font-variation-settings: "wght" 500, "wdth" 120;
  text-align: center;
  color: #393939;
}
.popUp .popUp-subtitle {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #393939;
  text-align: center;
  margin: 8px 0 32px;
}

.popUpHide {
  animation: popUp-anim-hide 0.5s linear !important;
}

@keyframes popUp-anim {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes popUp-anim-hide {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
@keyframes menu-anim {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0;
  }
}
@keyframes heart-anim {
  from {
    transform: scale(1.5);
  }
  to {
    transform: scale(1);
  }
}
@media (max-width: 1560px) {
  .swiper-btns .prev, .swiper-btns .next {
    width: 44px;
    height: 54px;
  }
  .swiper-btns .prev svg, .swiper-btns .next svg {
    width: 25px;
  }
  .swiper-btns .prev {
    left: -45px;
  }
  .swiper-btns .next {
    right: -45px;
  }
  .block2 .swiper-box, .block5 .swiper-box {
    padding: 0 50px;
  }
  .block2 .swiper-btns .prev, .block5 .swiper-btns .prev {
    left: 0;
  }
  .block2 .swiper-btns .next, .block5 .swiper-btns .next {
    right: 0;
  }
}
@media (max-width: 1420px) {
  .header-nav {
    transform: translateX(5%);
  }
}
@media (max-width: 1280px) {
  .logo {
    font-size: 23.95px;
  }
  .page-title {
    font-size: 45px;
  }
  .title-text {
    font-size: 32px;
    padding-left: 0;
  }
  .title-text::before {
    left: -20px;
  }
  .block2 .swiper-box, .block5 .swiper-box {
    padding: 0;
  }
  .swiper-btns .prev, .swiper-btns .next {
    width: 44px;
    height: 54px;
    background: rgba(0, 0, 0, 0.5019607843);
  }
  .swiper-btns .prev svg, .swiper-btns .next svg {
    width: 13.5px;
  }
  .swiper-btns .prev svg path, .swiper-btns .next svg path {
    stroke: #fff;
    stroke-width: 3px;
  }
  .swiper-btns .prev {
    left: 0px;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 50%, rgba(102, 102, 102, 0.5) 100%);
  }
  .swiper-btns .next {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 50%, rgba(102, 102, 102, 0.5) 100%);
    right: 0px;
  }
  .header-links .phone-num {
    display: none;
  }
  .header-links .phone-num.icon {
    display: block;
  }
  .header-nav {
    transform: none;
  }
  .header-nav li {
    margin-right: 20px;
  }
  .header-nav li:last-child {
    margin-right: 0;
  }
  .main .block1 .title-subtext {
    font-size: 30px;
    margin: 22px 0 88px;
  }
  .main .block5 .swiper-btns {
    display: none;
  }
  .main .wrapper .container {
    height: 300px;
  }
  .main .screens-box {
    grid-gap: 22px;
  }
  .main .screens-item .item-title {
    font-size: 24px;
  }
  .main .block7 .pagination {
    display: flex;
    margin-top: 23px;
  }
  .main .block7 .swiper-btns {
    display: none;
  }
  .main .block7 .swiper-box {
    padding: 0;
  }
  .main .block8-box {
    width: 70%;
  }
  .main .block8-item {
    width: 48%;
  }
  .footer .logo {
    font-size: 22px;
  }
}
@media (max-width: 992px) {
  .header-links {
    margin-right: 37px;
  }
  .header-nav {
    display: none;
  }
  .header .menu-btn {
    display: block;
  }
  .page-title br {
    display: block !important;
  }
  .title-text br {
    display: block !important;
  }
  .title-text::before {
    width: 6px;
    height: 23px;
    top: 5px;
    transform: none;
  }
  .main .block3-box {
    margin: 29px 0 0;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 14px;
  }
  .main .block4 {
    padding: 63px 0;
  }
  .main .block4-box {
    margin: 16px 0 25px;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0;
  }
  .main .block4-item {
    padding: 22px 0;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #BFC3C6;
    min-height: auto;
  }
  .main .block4-item:last-child {
    border: none;
  }
  .main .block4-item .item-top {
    display: flex;
  }
  .main .block4-item .item-num {
    min-width: 40px;
    height: 40px;
    font-size: 18px;
    margin-right: 14px;
  }
  .main .block4-item .arrow {
    display: none;
  }
  .main .block4-item .item-title {
    font-size: 18px;
    margin: 8px 0 0;
  }
  .main .block4-item .item-info {
    font-size: 18px;
    margin-top: 8px;
    padding-left: 54px;
  }
  .main .wrapper .container {
    padding-top: 30px;
    height: 269px;
    align-items: start;
  }
  .main .wrapper-title {
    font-size: 32px;
  }
  .main .block9-list li {
    margin-right: 80px;
  }
  .main .block9-list li:last-child {
    margin-right: 0;
  }
  .main .screens::before {
    display: none;
  }
  .main .screens-box {
    grid-template-columns: repeat(1, 1fr);
  }
  .main .screens-item {
    border-radius: 16px;
    overflow: hidden;
  }
  .main .screens-item .item-photo {
    border-radius: 0;
  }
  .main .screens-item .item-title {
    margin: 0 0 26px;
  }
  .main .screens-item .item-info {
    padding: 20px 20px 30px;
    background: #ebedf0;
  }
  .main .screens-item .item-list li {
    font-size: 16px;
  }
  .main .block8 .container {
    flex-direction: column;
  }
  .main .block8-box {
    width: 100%;
    margin-top: 31px;
  }
  .main .block8-item {
    width: 48%;
  }
  .main .block9 .title-text {
    padding-left: 30px;
  }
  .main .block9 .title-text::before {
    left: 0;
  }
  .main .block9-list {
    width: 100%;
    padding: 0 30px;
  }
  .main .block11 {
    padding: 27px 0 108px;
  }
  .main .block11::before {
    display: none;
  }
  .main .block11 .page-title {
    width: 100%;
  }
  .main .block11 .discuss-btn {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
  .main .block11-videos {
    margin-top: 27px;
  }
  .main .block11-videos .video {
    width: 100% !important;
    margin-bottom: 20px;
  }
  .footer .logo {
    transform: translateX(-50px);
  }
  .footer-info .footer-links .phone-num {
    display: none;
  }
  .footer-info .footer-links .phone-num.icon {
    display: block;
  }
}
@media (max-width: 767px) {
  .btn {
    width: 252px;
    height: 55px;
    font-size: 18px;
  }
  .header .container {
    padding: 16px 15px 19px;
  }
  .container {
    padding: 0 15px;
  }
  .page-title {
    font-size: 32px;
  }
  .title-text::before {
    left: -15px;
  }
  .view-all {
    font-size: 20px;
    display: flex;
    align-items: center;
    white-space: nowrap;
  }
  .pagination {
    margin-top: 33px;
  }
  .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
  }
  .main .block1 {
    padding: 73px 0 66px;
  }
  .main .block1::before {
    height: 100%;
  }
  .main .block1 .title-subtext {
    font-size: 30px;
    margin: 22px 0 88px;
  }
  .main .block1-img {
    width: 100%;
    height: 383px;
  }
  .main .block1-img:first-child {
    display: none;
  }
  .main .block1-img:last-child {
    display: block;
  }
  .main .block2 {
    margin: 75px 0 63px;
    padding-bottom: 80px;
    position: relative;
  }
  .main .block2 .swiper-block2 {
    margin-top: 22px;
  }
  .main .block2 .swiper-btns .prev, .main .block2 .swiper-btns .next {
    top: 50%;
  }
  .main .block2 .view-all {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .main .block2-item .item-photo img {
    height: 299px;
  }
  .main .block2-item .item-title {
    display: none;
  }
  .main .block2-item .item-info {
    display: none;
  }
  .main .block3 {
    padding: 64px 0 87px;
  }
  .main .block3-box {
    margin-top: 29px;
  }
  .main .block3-item {
    padding: 16px;
  }
  .main .block3-item .item-title {
    font-size: 18px;
  }
  .main .block3-item .item-title br {
    display: block;
  }
  .main .block3-item .item-info {
    margin-top: 14px;
  }
  .main .block3-item .item-info .info {
    width: 50%;
    margin-right: 0;
  }
  .main .block3-item .item-info .info-title {
    font-size: 20px;
  }
  .main .block3-item .item-info .info-subtitle {
    font-size: 14px;
  }
  .main .block5 {
    margin: 68px 0 75px;
    padding-top: 46px;
    position: relative;
  }
  .main .block5::before {
    height: 46px;
  }
  .main .block5 .swiper-box {
    margin: 14px 0 22px;
  }
  .main .block5-item {
    min-height: 258px;
    padding: 48px 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    position: relative;
  }
  .main .block5-item .item-logo {
    position: absolute;
    top: 40px;
    right: 20px;
  }
  .main .block5-item .item-title {
    font-size: 22px;
  }
  .main .block5-item .item-text {
    font-size: 16px;
    margin-top: 60px;
  }
  .main .wrapper-bg {
    object-position: top right;
  }
  .main .wrapper-bg:first-child {
    display: none;
  }
  .main .wrapper-bg:last-child {
    display: block;
  }
  .main .block6 {
    margin: 32px 0 126px;
  }
  .main .block6-title {
    font-size: 22px;
    text-align: center;
  }
  .main .block6-title::after {
    width: 40px;
  }
  .main .block6-title br {
    display: block;
  }
  .main .block6-link {
    margin: 72px 0 46px;
  }
  .main .block6-link a {
    font-size: 18px;
  }
  .main .block6-info p {
    font-size: 18px;
  }
  .main .block6-info p br {
    display: block;
  }
  .main .screens {
    padding: 32px 0 52px;
  }
  .main .screens .filter {
    margin: 22px 0;
  }
  .main .screens-item .item-photo img {
    height: 231px;
  }
  .main .block7 {
    padding: 27px 0 59px;
  }
  .main .block7 .swiper-box {
    margin-top: 27px;
  }
  .main .block7-img {
    height: 344px;
    border-radius: 16px;
  }
  .main .block8 .title-text {
    font-size: 26px;
  }
  .main .block8-item {
    width: 100%;
    margin-bottom: 40px;
  }
  .main .block8-item:last-child {
    margin-bottom: 29px;
  }
  .main .block8-item .item-title {
    font-size: 20px;
  }
  .main .block8-item .item-text {
    font-size: 16px;
  }
  .main .block9-box {
    padding: 35px 40px;
  }
  .main .block9 .title-text {
    padding-left: 0;
    font-size: 26px;
    width: 180px;
  }
  .main .block9 .title-text::before {
    display: none;
  }
  .main .block9-list {
    width: 100%;
    padding: 0;
    flex-direction: column;
  }
  .main .block9-list li {
    margin-top: 22px;
    font-size: 16px;
    margin-right: 0;
  }
  .main .block9-list li strong {
    font-size: 20px;
  }
  .main .block9-list li:first-child {
    margin-top: 29px;
  }
  .main .block10 {
    margin: 59px 0 37px;
  }
  .main .block10 .title-text {
    font-size: 26px;
  }
  .main .block10-info {
    margin-top: 30px;
    font-size: 16px;
  }
  .main .block10-info .info-list {
    list-style-type: decimal;
    padding-left: 25px;
  }
  .main .block10-info .info-list li {
    margin-bottom: 25px;
  }
  .main .block10-info .info-list li:last-child {
    margin-bottom: 0;
  }
  .main .block11-videos .video {
    height: 260px;
  }
  .main .block11-videos .video .play-btn {
    width: 80px;
    height: 80px;
  }
  .footer {
    padding: 85px 0 20px;
    position: relative;
  }
  .footer .container {
    flex-direction: column;
  }
  .footer .logo {
    transform: translateX(0);
    position: absolute;
    top: 30px;
    left: 15px;
  }
  .footer-nav li {
    font-size: 16px;
    margin-bottom: 7px;
  }
  .footer-nav li:last-child {
    margin-bottom: 0;
  }
  .footer-info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 29px;
    padding-top: 15px;
    border-top: 1px solid #BFBFBF;
  }
  .footer-info .footer-links .phone-num {
    display: none;
  }
  .footer-info .footer-links .phone-num.icon {
    display: block;
  }
}
@media (max-width: 567px) {
  .header .menu-content {
    width: 100%;
  }
  .main .block6 .container {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */